<h2>Contacto</h2>
<h2>Con Template</h2>
<br>
<input id="nombre" type="text" [(ngModel)]="nombre">
<input id="nombre" type="text" [(ngModel)]="email">
<input id="nombre" type="text"  [(ngModel)]="asunto">
<input id="nombre" type="text"  [(ngModel)]="descripcion">

<h4>El nombre ingresado es {{nombre}} - asunto es : {{asunto}}
</h4>


<br>
<h2>REACTIVO</h2>

<h3>Por favor Dejenos un mensaje</h3>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">
            Name
          </label>
          <input id="name" type="text" formControlName="name">
        </div>
      
        <div>
          <label for="address">
            Address
          </label>
          <input id="email" type="text" formControlName="email">
        </div>

        <div>
            <label for="asunto">
                asunto
            </label>
            <input id="asunto" type="text" formControlName="asunto">
          </div>
          <div>
            <label for="descrpcion">
                descripcion
            </label>
            <input id="descrpcion" type="text" formControlName="descrpcion">
          </div>
      
        <button class="button" type="submit">Enviar</button>
      
      </form>
<br>
<div *ngIf="status">
    <h2>Los datos Ingresados Fueron</h2>
    <h3>El nombre ingresado Fue : {{nombre}}</h3>
</div>
