<h1>HOLA  Bienvenido {{nombre}}</h1>
<input type="text"  placeholder="Ingrese Su nombre aqui" [(ngModel)]="nombre">
<select name="" id="" [(ngModel)] ="select">
    <option value="Daniel - Super outfit">Daniel - Super outfit</option>
    <option value="Gabriela - Sonrisitas">Gabriela - Sonrisitas</option>
    <option value="Donovan">Donovan</option>
    <option value="luis">luis</option>

</select>
<button [routerLink]="['/contacto']">Llevanos al contacto</button>


<h2>Esta seleccionado : {{select}}</h2>
<contenido-com></contenido-com>
<footer></footer>
